.App {
  background-color: #e3e4e6;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 15%;
  padding-right: 15%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  background-color: white;
  border-radius: 2%;
  padding: 2%;
}

.sideBar{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  margin: 2%;
  /*font-size: calc(10px + 2vmin);*/
}

.card-img {
  width: 100%;
}

.card-img-overlay {
  text-align: start;
  top: 10%;
  left: 10%;
  width: 40%;
}

.badge {
  position: absolute;
  left: -2%;
  background-color:transparent!important;
  border: solid;
  border-width: 0.15em;
  border-radius: 90%;
  border-color: #e3e4e6;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  padding-left: 1%;
  padding-right: 1%;
}

.card-title{
  color: hsl(231, 100%, 99%);
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0%;
}

.card-text{
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing:0.1em;
  text-transform: uppercase;
}

.formArea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: calc(10px + 2vmin);
  color: hsl(217, 100%, 97%);
}

.formTitle {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}
.formText {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}
.form-label{
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.btn {
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: hsl(213, 96%, 18%);
  border-color: hsl(213, 96%, 18%);
}

.btn a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

/* .form-switch .form-check-input:checked {
  background-position: right center !important;
}

.form-switch .form-check-input:default {
  background-position: left center !important;
}

.form-switch .form-check-input {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/%3e%3c/svg%3e")
}

.form-switch .form-check-input:checked, .form-check-input:default {
  background-color: hsl(213, 96%, 18%);
} */

.planBtn {
  border: solid;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(213, 96%, 18%);
}

.planFormGrp {
  padding-left: 0%;
}

.planToggle {
  border-color: hsl(217, 100%, 97%);
  border-radius: 5%;
  background: hsl(217, 100%, 97%);
}

.backBtnCol {
  display: flex;
    align-items: center;
    justify-content: left;
}

.backBtn {
  border: none;
  background: none;
}

.backLink {
  color: hsl(231, 11%, 63%) !important;
}

.nextBtnCol {
  display: flex;
    align-items: center;
    justify-content: right;
}

.sumContainer {
  margin-top: 15%;
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 