.App {
  background-color: #e3e4e6;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 15%;
  padding-right: 15%;
}

.formContainer {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  background-color: white;
  border-radius: 2%;
  padding: 2%;
}

.sideBar{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  margin: 2%;
  /*font-size: calc(10px + 2vmin);*/
}

.card-img {
  width: 100%;
}

.card-img-overlay {
  text-align: start;
  top: 10%;
  left: 10%;
}

.badge {
  position: absolute;
  left: -2%;
  background-color:transparent!important;
  border: solid;
  border-width: 0.15em;
  border-radius: 90%;
  border-color: #e3e4e6;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  padding-left: 1%;
  padding-right: 1%;
}

.card-title{
  color: hsl(231, 100%, 99%);
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0%;
}

.card-text{
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  letter-spacing:0.1em;
  text-transform: uppercase;
}

.formArea {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: calc(10px + 2vmin);
  color: hsl(217, 100%, 97%);
}

.formTitle {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}
.formText {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}
.form-label{
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.btn {
  position: relative;
  top: 15%;
  left:75%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: hsl(213, 96%, 18%);
  border-color: hsl(213, 96%, 18%);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */ 
